.projects_sidebar {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
  height: 100vh;
}

.projects_sidebar .project_types {
  display: flex;
  flex-direction: column;
}

.projects_sidebar .hover_favorites:hover {
  background-color: #ffd90034;
  border-radius: 12px;
}

.projects_sidebar .hover_all:hover {
  background-color: #00ff0849;
  border-radius: 12px;
}

.projects_sidebar .hover_archived:hover {
  background-color: #9e9e9e44;
  border-radius: 12px;
}

.projects_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding: 12px;
  overflow-y: scroll;
}

.project_card {
  overflow: hidden;
  padding: 12px;
  max-width: 400px;
}

.project_card .project_top {
  text-align: center;
  padding: 12px;
}

.project_card .project_desc {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project_card .project_actions {
  display: flex;
  justify-content: center;
  margin: 24px 0 24px 0;
  gap: 12px;
}

.project_card .project_actions .project_team_member {
  width: 60px;
  height: 60px;
  background-color: aqua;
}

/* Project Details */
.main_project_details {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100vh;
}

.main_project_details .main_topbar {
  display: flex;
  justify-content: space-between;
}

.main_project_details .main_information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.main_project_details .main_information .main_tooltip {
  display: flex;
  gap: 12px;
}

.main_project_details .main_information .main_tooltip .iconBtn {
  background-color: aqua;
  padding: 20px;
  border-radius: 20px;
}

.main_project_details .main_tasks_dashboard {
  background-color: #0066ff17;
  padding: 30px;
  overflow: scroll;
  flex: 1; /* Fill remaining space */
}

.main_project_details .main_tasks_dashboard .show_actions {
  display: flex;
  gap: 12px;
}

.main_project_details .main_tasks_dashboard .show_actions button {
  display: flex;
  gap: 12px;
}
