* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.loader_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bdd7ff;
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.main_layout {
  display: flex;
  min-height: 100vh;
  gap: 0.9rem;
}

.content {
  flex-grow: 1;
}
