/* Project overview */

.project_overview {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 30px;
  position: relative;
}

.project_overview .project_header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project_overview .project_cards {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.project_overview .project_cards .project_card {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Project overview */

.num {
  position: absolute;
  top: 56%;
  left: 47%;
}

/* Projects table */

.progress {
  background-color: #f9ce625b;
  color: #f0ae07fd;
  font-weight: bold;
  padding: 6px;
  border-radius: 12px;
  width: max-content;
  float: right;
}

.finished {
  background-color: #1bc8005e;
  color: #1bc800fa;
  padding: 6px 16px;
  font-weight: bold;
  border-radius: 12px;
  width: max-content;
  float: right;
}

.cancelled {
  background-color: #da202063;
  color: #da2020;
  padding: 6px;
  border-radius: 12px;
  font-weight: bold;
  width: max-content;
  float: right;
}
